<md-dialog aria-label="{{ serie.titulo }}" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ serie.titulo }}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon aria-label="Close dialog" class="material-icons">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-progress-linear class="md-accent" ng-if="player.playing && !player.audio.canPlay" md-mode="query"></md-progress-linear>
	<div ng-repeat="tema in serie.temas | orderBy: 'titulo'" class="lvc-tema">
		<md-list-item ng-click="play(tema)">
				{{ tema.titulo }} &nbsp;
				<span ng-if="player.playing === tema">{{ player.audio.currentTime | trackTime }}</span>
				<md-icon aria-label="Pause" class="material-icons" ng-if="player.playing === tema && !player.paused">pause</md-icon>
				<md-icon aria-label="Play" class="material-icons" ng-if="player.playing === tema && player.paused">play_arrow</md-icon>
		</md-list-item>
		<md-slider ng-if="player.playing === tema" min="0" max="1" step="0.01" ng-model="player.audio.progress" aria-label="Posición">
	</div>
</md-dialog>
